@c-main: #454545;
.c-main {
  color: @c-main;
}
.b-main {
  background-color: @c-main;
}

@c-blue: #02A7DF;
.c-blue {
  color: @c-blue;
}
.b-blue {
  background-color: @c-blue;
}

@c-red: #DC3B2A;
.c-red {
  color: @c-red;
}
.b-red {
  background-color: @c-red;
}

@c-navy: #006A98;
.c-navy {
  color: @c-navy;
}
.b-navy {
  background-color: @c-navy;
}

@c-navy-dark: #15153C;
.c-navy-dark {
  color: @c-navy-dark;
}
.b-navy-dark {
  background-color: @c-navy-dark;
}

@c-green: #80AD2F;
.c-green {
  color: @c-green;
}
.b-green {
  background-color: @c-green;
}

@c-salad: #B7D13C;
.c-salad {
  color: @c-salad;
}
.b-salad {
  background-color: @c-salad;
}

@c-orange: #EC952D;
.c-orange {
  color: @c-orange;
}
.b-orange {
  background-color: @c-orange;
}

@c-ink: #9B51E0;
.c-ink {
  color: @c-ink;
}
.b-ink {
  background-color: @c-ink;
}

@c-input-border: #E8E8E8;
@c-input-border-focus: #02A7DF;
@c-input-border-error: #DC3B2A;
@c-input-border-disabled: #ededed;
@c-input-bg-disabled: #f9f9f9;

@c-checkbox-bg: #F7F7F7;
@c-checkbox-border: #E8E8E8;
@c-checkbox-border-focus: #00ADF1;
@c-checkbox-border-error: #DC3B2A;

@c-radio-bg: #fff;
@c-radio-dot: #00ADF1;
@c-radio-border: #E8E8E8;
@c-radio-border-focus: #00ADF1;
@c-radio-border-error: #DC3B2A;

@c-program-red: #DC3B2A;
@c-program-orange: #EC952D;
@c-program-blue: #3785BA;
@c-program-navy: #253871;
@c-program-green: #226638;
@c-program-green-light: #369A46;