.main-header {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 82px;
  border: 1px solid #E8E8E8;
  padding: 15px 0;
  background-color: #fff;

  & > .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.main-header-logo {
  margin-right: 20px;
}

.main-header-menu {
  & > ul {
    .ul-reset;

    & > li {
      display: inline-block;
      text-transform: uppercase;

      & > a {
        color: @c-main;
        text-decoration: none;
        padding: 0 8px;
        transition: color 200ms;
      }

      &.active {
        & > a {
          color: @c-blue;
          transition: color 200ms;
        }
      }

      &:hover {
        & > a {
          color: @c-blue;
          transition: color 200ms;
        }
      }
    }
  }
}

.main-header-language {

}

.main-header-language-item {
  display: inline-block;
  color: #999999;
  transition: color 200ms;
  text-decoration: none;

  span {
    border-bottom: 1px dotted;
  }

  &::after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    background-color: #DCDCDC;
    width: 1px;
    height: 1em;
    margin: 0 6px;
  }

  &.active,
  &:hover {
    color: @c-blue;
    transition: color 200ms;
  }

  &.active {
    span {
      border-bottom: none;
    }
  }

  &:last-child {
    &::after {
      display: none;
    }
  }
}