@import "header";
@import "footer";
@import "offcanvas";
@import "margins";

body {
  & > .spinner {
    position: fixed !important;
  }
}

* {
  box-sizing: border-box;
}

.wrapper {
  max-width: @wrapper-width;
  min-width: 320px;
  padding: 0 15px;
  margin: 0 auto;
}

.main-content {
  padding-top: 82px;

  @media (max-width: @wrapper-width) {
    padding-top: 60px;
  }
}