.about-forum-block {
  background: @c-blue;
  color: #fff;

  a {
    color: #fff;
  }

  & > .wrapper {
    padding-top: 75px;
    padding-bottom: 50px;
    background: url("../images/bg-about-forum.svg") no-repeat 90% top;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}

.about-forum-block-content {

}

.about-forum-block-title {
  font-size: 2.3rem;
  line-height: 2.85rem;
  margin-top: 0;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  max-width: 760px;
}

.about-forum-block-text {
  font-size: 1.3rem;
  line-height: 1.8rem;
  margin-bottom: 50px;
  max-width: 760px;
}

.about-forum-block-content {
  font-size: 1.3em;
}

.about-forum-block-icons {
  display: flex;
  flex-wrap: wrap;
  max-width: 600px;
  margin-bottom: 40px;
}

.about-forum-block-icons-item {
  flex-basis: 50%;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-right: 40px;
}

.about-forum-block-icons-item-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  width: 72px;
  height: 72px;
  border-radius: 100%;
  background-color: #fff;
  margin-right: 12px;
}

.about-forum-block-icons-item-title {
  text-decoration: underline;
  font-size: 1.3em;
}

.about-forum-block-stats {

}

.about-forum-block-stats-item {
  margin-bottom: 50px;

  &:last-child {
    margin-bottom: 0;
  }
}

.about-forum-block-stats-item-value {
  font-size: 5.1em;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.6);
}

.about-forum-block-stats-item-title {
  font-weight: bold;
  font-size: 1.1em;
  padding-left: 40px;
}

.about-forum-block-button {
  max-width: @wrapper-width;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 50px;
}