.events-block {
  background: #F7F7F7;
  padding-top: 70px;
  padding-bottom: 40px;

  @media (max-width: @breakpoint-l) {
    padding-top: 30px;
    padding-bottom: 20px;
  }
}

.events-block-title {
  font-size: 2.3rem;
  font-weight: bold;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
  margin-top: 0;

  a {
    text-decoration: none;
  }

  @media (max-width: @breakpoint-l) {
    font-size: 1.3rem;
    margin-bottom: 25px;
  }
}

.events-block-filter {
  margin-bottom: 20px;

  @media (max-width: @breakpoint-l) {
    display: none;
  }
}

.events-block-filter-item {
  display: inline-block;
  padding: 13px 15px;
  color: #999999;
  font-size: 1.2rem;
  font-weight: 500;
  text-decoration: none;

  &::before {
    content: '';
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 12px;
    background-color: gray;
    margin-right: 5px;
    transition: background-color 200ms;
  }

  span {
    border-bottom: 1px dotted;
  }

  &:hover {
    transition: color 200ms;

    &::before {
      transition: background-color 200ms;
    }
  }

  &.active {

  }
}

.events-block-filter-item-top {
  background-color: #cecece;
  color: #fff;
  padding-left: 30px;
  padding-right: 30px;

  &::before {
    display: none;
  }

  &:hover {
    background-color: #efc001;
    color: #fff;
  }

  &.active {
    background-color: #FECE01;
  }
}

.events-block-filter-item-red {
  &::before {
    background-color: @c-red;
  }

  &:hover,
  &.active {
    color: @c-red;
  }
}

.events-block-filter-item-orange {
  &::before {
    background-color: @c-orange;
  }

  &:hover,
  &.active {
    color: @c-orange;
  }
}

.events-block-filter-item-green {
  &::before {
    background-color: @c-green;
  }

  &:hover,
  &.active {
    color: @c-green;
  }
}

.events-block-filter-item-navy {
  &::before {
    background-color: @c-navy;
  }

  &:hover,
  &.active {
    color: @c-navy;
  }
}

.events-block-row {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-left: -5px;
  margin-right: -5px;

  @media (max-width: @breakpoint-l) {
    display: none;
  }
}

.events-block-row-mobile {
  display: none;
  margin-bottom: 30px;

  .swiper-pagination {
    position: relative;
    bottom: auto;
    margin-top: 15px;
  }

  @media (max-width: @breakpoint-l) {
    display: block;
  }

  .events-block-item {
    height: 270px;
    border-color: #DCDCDC;
  }
}

.events-block-row-mobile-title {
  font-weight: 500;
  font-size: 1.1rem;
  margin-bottom: 12px;
  text-align: center;
  text-transform: uppercase;
}

.events-block-item {
  flex: 0 1 calc(~"25% - 10px");
  display: flex;
  margin: 5px;
  min-height: 270px;
  text-decoration: none;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.9);
  color: @c-main;
  padding: 20px 15px;
  border: 1px solid #fff;
  transition: border-color 200ms, background-color 200ms;

  &:hover {
    color: @c-main;
    border-color: @c-blue;
    background-color: rgba(255, 255, 255, 1);
    transition: border-color 200ms, background-color 200ms;

    .events-block-item-title {
      color: @c-blue;
      transition: color 200ms;
    }

    .events-block-item-readmore {
      background-color: #e4e4e4;
      transition: background-color 200ms;
    }
  }
}

.events-block-item-image {
  margin-top: 5px;
  margin-bottom: 12px;
}

.events-block-item-title {
  position: relative;
  font-size: 1.1rem;
  line-height: 1.4rem;
  margin-bottom: 12px;
  font-weight: bold;
  transition: color 200ms;

  &::after {
    content: '';
    display: block;
    background: @c-red;
    width: 30px;
    height: 2px;
    margin-top: 8px;
  }
}

.events-block-item-text {
  left: 1.35rem;
}

.events-block-item-meta {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
  align-items: flex-end;
}

.events-block-item-date {
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 1.4rem;
  vertical-align: baseline;
  color: fade(@c-main, 70%);
}

.events-block-item-date-value {
  display: inline-block;
  font-size: 1.7rem;
  font-weight: bold;
  color: #DEDEDE;
  vertical-align: baseline;
  margin-right: 4px;
}

.events-block-item-readmore {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  background-color: #F7F7F7;
  transition: background-color 200ms;
}

.events-block-item-with-image {
  text-align: center;

  .events-block-item-title {
    &::after {
      display: none;
    }
  }
}

.events-block-buttons {
  margin-top: 40px;
  text-align: center;
}