.exhibition-block {
  position: relative;
  background: url('../images/bg-exhibition.svg') no-repeat right top @c-green;
  padding: 70px 0;
  color: #fff;
  overflow: hidden;

  & > .wrapper {
    position: relative;
  }

  @media (max-width: @breakpoint-m) {
    padding-top: 30px;
    padding-bottom: 20px;
  }
}

.exhibition-block-title {
  font-size: 2.2rem;
  line-height: 2.8rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 50px;

  @media (max-width: @breakpoint-m) {
    font-size: 1.3rem;
    margin-bottom: 30px;
    line-height: 1.5rem;
    text-align: center;
  }
}

.exhibition-block-content {
  position: relative;
  z-index: 10;
  max-width: 540px;

  @media (max-width: @breakpoint-m) {
    max-width: 100%;
  }
}

.exhibition-block-sections {
  display: flex;
  flex-wrap: wrap;
}

.exhibition-block-sections-item {
  flex: 1 1 50%;
  display: flex;
  align-items: center;
  margin-bottom: 50px;

  @media (max-width: @breakpoint-m) {
    flex-basis: 100%;
    margin-bottom: 30px;
  }
}

.exhibition-block-sections-item-icon {
  margin-right: 20px;
}

.exhibition-block-sections-item-title {
  font-size: 1.07rem;
  font-weight: bold;
  margin-bottom: 6px;
}

.exhibition-block-sections-item-subtitle {
  font-size: 1.5rem;
  text-transform: uppercase;
}

.exhibition-block-map {
  position: absolute;
  right: -70px;
  bottom: -140px;
  background: url("../images/exhibition-map.png") no-repeat center;
  width: 755px;
  height: 688px;

  @media (max-width: @breakpoint-m) {
    display: none;
  }
}

.exhibition-block-buttons {
  @media (max-width: @breakpoint-m) {
    text-align: center;
  }

  .button {
    @media (max-width: @breakpoint-m) {
      width: 100%;
      max-width: 320px;
    }
  }
}