.news-block {
  position: relative;
  padding: 50px 0;

  & > .wrapper {
    position: relative;
  }

  @media (max-width: @breakpoint-m) {
    padding-top: 30px;
    padding-bottom: 20px;
  }

  & > .row {
    margin-left: -15px;
    margin-right: -15px;

    & > [class^="col-"] {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}

.news-block-bg {
  background: url("../images/bg-news-block.svg") no-repeat left top;
}

.news-block-swiper-container {
  @media (max-width: @breakpoint-m) {
    display: none;
  }
}

.news-block-swiper-container-mobile {
  display: none;
  overflow-x: hidden;

  .swiper-pagination {
    position: relative;
    bottom: 0;
    margin-top: 20px;
  }

  @media (max-width: @breakpoint-m) {
    display: block;
  }
}

.news-block-title {
  text-transform: uppercase;
  font-size: 2.3rem;
  text-align: center;
  margin-top: 0;
  margin-bottom: 30px;

  a {
    text-decoration: none;
  }

  @media (max-width: @breakpoint-m) {
    font-size: 1.3rem;
    margin-bottom: 20px;
  }
}

.news-block-row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -5px;
  margin-right: -5px;
}

.news-block-row-item {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex: 0 0 calc(~"25% - 10px");
  min-height: 240px;
  text-decoration: none;
  color: @c-main;
  margin: 5px;
  background-color: #fff;
  border: 1px solid transparent;

  &:hover {
    color: @c-main;
  }
}

.news-block-row-item-cover {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &::before {
    content: '';
    display: block;
    opacity: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.35), transparent);
    transition: all 200ms;
  }
}

.news-block-row-item-title {
  font-size: 1.1rem;
  line-height: 1.4rem;
  margin: 8px 4px;
}

.news-block-row-item-meta {
  display: flex;
  justify-content: space-between;
  justify-self: flex-end;
  align-items: baseline;
}

.news-block-row-item-date {
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 1.4rem;
  vertical-align: baseline;
  color: fade(@c-main, 70%);
}

.news-block-row-item-date-value {
  display: inline-block;
  font-size: 1.7rem;
  font-weight: bold;
  color: #DEDEDE;
  vertical-align: baseline;
  margin-right: 4px;
}

.news-block-row-item-readmore {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  background-color: #F7F7F7;
  transition: background-color 200ms;
}

.news-block-row-item-wide {
  flex-basis: calc(~"50% - 10px");
}

.news-block-row-item-blank {
  padding: 12px;
  border-color: #D8D8D8;
  background-color: #fff;

  &:hover {
    border-color:  @c-blue;
    transition: border-color 200ms;
  }

  @media (max-width: @breakpoint-m) {
    .news-block-row-item-title {
      font-size: 1.3rem;
      line-height: 1.6rem;
    }
  }
}

.news-block-row-item-video {
  color: #fff;
  justify-content: flex-end;

  .news-block-row-item-meta {
    color: #fff;
    position: relative;
    z-index: 10;
    justify-self: flex-end;
    padding: 15px;
    align-items: flex-end;

    .news-block-row-item-title {
      font-weight: bold;
      margin: 0;
    }

    .news-block-row-item-readmore {
      width: 25px;
      height: 25px;
      border: 1px solid #fff;
      background-color: transparent;
    }
  }
}

.news-block-row-item-photo {
  color: #fff;
  justify-content: flex-end;

  .news-block-row-item-meta {
    color: #fff;
    position: relative;
    z-index: 10;
    justify-self: flex-end;
    padding: 15px;
    align-items: flex-end;

    .news-block-row-item-title {
      font-weight: bold;
      margin: 0;
    }

    .news-block-row-item-readmore {
      position: relative;
      width: 24px;
      height: 24px;
      background-color: transparent;
      font-weight: 500;
      font-size: 0.8rem;

      &::before,
      &:after {
        content: '';
        position: absolute;
        display: block;
        width: 21px;
        height: 21px;
        border: 1px solid #fff;
      }

      &::before {
        left: -2px;
        top: -2px;
      }

      &:after {
        left: 2px;
        top: 2px;
      }
    }
  }
}

.news-block-buttons {
  width: 100%;
  text-align: center;
  font-size: 0;
  margin-top: 30px;

  .button {
    font-size: 1rem;
    vertical-align: middle;

    @media (max-width: @breakpoint-m) {
      width: 100%;
      max-width: 320px;
    }
  }
}

.news-block-button-prev,
.news-block-button-next {
  svg {
    height: 1rem;
    transition: fill 200ms;
  }

  &:hover {
    svg * {
      fill: #fff;
      transition: fill 200ms;
    }
  }
}

.news-block-button-prev {
  margin-right: 50px;
}

.news-block-button-next {
  margin-left: 50px;
}

.news-block-item {
  margin-bottom: 35px;
}

.news-block-item-photo {
  margin-bottom: 15px;
  height: 240px;

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.news-block-item-title {
  font-size: 1.2rem;
  line-height: 1.7rem;
  font-weight: 500;
  margin-bottom: 8px;

  a {
    color: @c-main;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.news-block-item-text {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 15px;
}

.news-block-item-meta {
  display: flex;
  justify-content: space-between;
  justify-self: flex-end;
  align-items: baseline;
}

.news-block-item-date {
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 1.4rem;
  vertical-align: baseline;
  color: fade(@c-main, 70%);
}

.news-block-item-date-value {
  display: inline-block;
  font-size: 1.7rem;
  font-weight: bold;
  color: #DEDEDE;
  vertical-align: baseline;
  margin-right: 4px;
}