@import (less) "../../node_modules/baron/baron.css";

@program-table-cell-width: 220px;
@program-table-hour-height: 120px;
@program-table-hour-height2: 370px;
@program-table-border-color: #E0E0E0;

.program-table-wrapper {
  position: relative;
}

.program-table {
  position: relative;
  .ff-roboto;
  background-color: #F4F4F4;
  padding-left: 95px;
  overflow-y: auto;

  &::-webkit-scrollbar {
    /* for Mac OS X support */
    width: 0;
  }
}

.program-table-scrollable {
  height: auto !important;
  min-height: auto !important;
  max-height: auto !important;
}

.program-table-timeline {
  position: absolute;
  width: 95px;
  height: 100%;
  left: 0;
  top: 0;
  background: #E0E0E0;
  z-index: 20;
  box-shadow: 5px 0 13px -5px rgba(0,0,0, 0.34);
  text-align: right;
}

.program-table-timeline-date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.92rem;
  color: #999999;
  text-align: center;
  background: #fff;
  border-bottom: 1px solid @program-table-border-color;
  box-shadow: 0 7px 10px -5px rgba(0, 0, 0, 0.35);
}

.program-table-timeline-date-title {
  font-size: 2.5rem;
  color: #373737;
  margin-bottom: 2px;
}

.program-table-timeline-hour {
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  height: @program-table-hour-height;
}

.program-table-timeline-hour-title {
  position: absolute;
  right: 20px;
  top: -0.72rem;
  font-size: 1.42rem;
}

.program-table-timeline-hour-quarter {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  position: relative;
  bottom: -0.45rem;
  font-size: 0.9rem;
  height: @program-table-hour-height / 4;
  color: #999999;
}

.program-table-heading {
  display: inline-flex;
  position: relative;
  z-index: 10;
  transition: box-shadow 200ms;
}

.program-table-heading-cell {
  flex: 0 0 @program-table-cell-width;
  background-color: #fff;
  border-top: 1px solid @program-table-border-color;
  border-right: 1px solid @program-table-border-color;
  border-bottom: 1px solid @program-table-border-color;
  padding: 15px;
}

.program-table-heading-cell-title {
  font-size: 1rem;
  font-weight: 500;
  color: #666666;
  text-align: center;
  margin-bottom: 3px;
}

.program-table-heading-cell-subtitle {
  color: #888888;
  font-size: 0.92rem;
  text-align: center;
}

.program-table-heading-cell-desc {
  text-align: center;
  font-size: 0.8rem;
  line-height: 1.1rem;
  font-style: italic;
  color: #888;
  margin-top: 7px;
}

.program-table-scroll {
  position: absolute;
  //left: 0;
  width: calc(~"100% - 95px");
  height: 40px;
  background-color: #F4F4F4;
  padding-left: 35px;
  padding-right: 35px;
  z-index: 10;
  border-bottom: 1px solid @program-table-border-color;

  &.with-shadow {
    box-shadow: 0 7px 10px -5px rgba(0, 0, 0, 0.35);
    transition: box-shadow 200ms;
  }
}

.program-table-scroll-track {
  position: relative;
  height: 100%;
}

.program-table-scroll-left,
.program-table-scroll-right {
  position: absolute;
  top: 5px;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;

  &:hover {
    background-color: rgba(99, 99, 99, 0.11);
    transition: background-color 200ms;
  }
}

.program-table-scroll-left {
  left: -30px;
  background-image: url('../images/icons/icon-program-table-scroll-left.svg');
}

.program-table-scroll-right {
  right: -30px;
  background-image: url('../images/icons/icon-program-table-scroll-right.svg');
}

.program-table-scrollbar {
  position: absolute;
  z-index: 10;
  top: 0;
  width: 30px;
  height: 40px;
  cursor: grab;
  transition: width 200ms;

  &::after {
    content: '';
    position: absolute;
    top: 15px;
    display: block;
    width: 100%;
    height: 10px;
    border-radius: 10px;
    background: #21B2E3;
    transition: background 200ms;
  }

  &:hover {
    &::after {
      background: darken(#21B2E3, 15%);
      transition: background 200ms;
    }
  }
}

.program-table-columns {
  display: flex;
  padding-top: 40px;
}

.program-table-column {
  flex: 0 0 @program-table-cell-width;
  border-right: 1px solid #E0E0E0;
  overflow: hidden;
}

.program-table-column-hour {
  border-bottom: 1px solid #E0E0E0;
  height: @program-table-hour-height;
}

.program-table-event {
  display: block;
  position: relative;
  .ff-roboto-cond;
  background-color: #fff;
  padding: 8px;
  color: #666666;
  font-size: 0.85rem;
  margin-bottom: 1px;
  box-shadow: 0 0 0 1px @program-table-border-color;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
  outline: none;

  &::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 15px;
    background: linear-gradient(to bottom, transparent, #fff);
  }

  &:hover,
  &:focus {
    color: #666666;
    z-index: 5;
    max-height: none;
    box-shadow: 0 0 0 1px @program-table-border-color, 0 0 25px -5px rgba(0, 0, 0, 0.35), 0 0 0 1px @c-blue inset;

    &::after {
      bottom: 1px;
      left: 1px;
      width: calc(~"100% - 2px");
    }
  }

  p {
    margin: 0.7em 0;
  }
}

.program-table-event-meta {
  font-size: 0.8rem;
  margin-bottom: 3px;
}

.program-table-event-meta-icon {
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: @c-blue;
  margin-right: 4px;
  border-radius: 10px;
  vertical-align: baseline;
}

.program-table-event-meta-date {
  color: #888;
}

.program-table-event-title {
  font-size: 1.2rem;
  margin-bottom: 7px;
}

.program-table-event-subtitle {
  font-size: 0.9rem;
  margin-bottom: 3px;
  font-weight: bold;
}

.program-table-event-speakers {
  margin-top: 10px;
  background: url("../images/icons/icon-program-speakers.svg") no-repeat left top;
  font-size: 0.85rem;
  padding-left: 20px;
}

.program-table-event-global {
  position: absolute;
  width: 100%;
}

.program-table-event-height-15 {
  min-height: (@program-table-hour-height/4)-1;
  max-height: (@program-table-hour-height/4)-1;
}

.program-table-event-height-30 {
  min-height: (@program-table-hour-height/2)-1;
  max-height: (@program-table-hour-height/2)-1;
}

.program-table-event-height-45 {
  min-height: ((@program-table-hour-height/4)*3)-1;
  max-height: ((@program-table-hour-height/4)*3)-1;
}

.program-table-event-height-60 {
  min-height: (@program-table-hour-height)-1;
  max-height: (@program-table-hour-height)-1;
}

.program-table-event-offset-15 {
  top: (@program-table-hour-height/4)-1;
}

.program-table-event-offset-30 {
  top: (@program-table-hour-height/2)-1;
}

.program-table-event-offset-45 {
  top: ((@program-table-hour-height/4)*3)-1;
}

.program-table-2 {
  .program-table-timeline-hour {
    height: @program-table-hour-height2;
  }

  .program-table-timeline-hour-quarter {
    height: @program-table-hour-height2 / 4;
  }

  .program-table-column-hour {
    height: @program-table-hour-height2;
  }

  .program-table-event-height-15 {
    min-height: (@program-table-hour-height2/4)-1;
    max-height: (@program-table-hour-height2/4)-1;
  }

  .program-table-event-height-30 {
    min-height: (@program-table-hour-height2/2)-1;
    max-height: (@program-table-hour-height2/2)-1;
  }

  .program-table-event-height-45 {
    min-height: ((@program-table-hour-height2/4)*3)-1;
    max-height: ((@program-table-hour-height2/4)*3)-1;
  }

  .program-table-event-height-60 {
    min-height: (@program-table-hour-height2)-1;
    max-height: (@program-table-hour-height2)-1;
  }

  .program-table-event-offset-15 {
    top: (@program-table-hour-height2/4)-1;
  }

  .program-table-event-offset-30 {
    top: (@program-table-hour-height2/2)-1;
  }

  .program-table-event-offset-45 {
    top: ((@program-table-hour-height2/4)*3)-1;
  }
}