@import (less) "../../node_modules/baron/baron.css";

@program-table-cell-width: 200px;
@program-table-hour-height: 130px;
@program-table-hour-height-large: 200px;
@program-table-border-color: #E0E0E0;

.program-table-main-heading {
  @media (max-width: @breakpoint-s) {
    padding: 0;

    .main-heading-title,
    .main-heading-links {
      display: none;
    }

    .main-heading-tabs {
      display: flex;
      width: 100%;
    }

    .main-heading-tabs-item {
      flex: 1 0 auto;
      text-align: center;
      text-transform: uppercase;
      font-weight: 500;
      font-size: 0.85rem;
      padding: 8px 10px;
    }
  }
}

.program-table-subnav {
  @media (max-width: @breakpoint-s) {
    .subnav-list {
      display: flex;

      .subnav-list-item {
        flex: 1;

        &::after {
          display: none;
        }
      }

      .subnav-link {
        height: 100%;
        padding: 0;
        text-align: center;
        text-transform: none;
        font-size: 0.95rem;

        span {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;
          padding: 10px;
        }
      }
    }
  }
}

.program-table-wrapper {
  position: relative;

  @media (max-width: @breakpoint-s) {
    display: none;
  }
}

.program-table {
  position: relative;
  .ff-roboto;
  background-color: #F4F4F4;
  padding-left: 95px;
  overflow-y: auto;

  &::-webkit-scrollbar {
    /* for Mac OS X support */
    width: 0;
  }
}

.program-table-scrollable {
  height: auto !important;
  min-height: unset !important;
  max-height: unset !important;
}

.program-table-timeline {
  position: absolute;
  width: 95px;
  height: 100%;
  left: 0;
  top: 0;
  background: #E0E0E0;
  z-index: 20;
  box-shadow: 5px 0 13px -5px rgba(0,0,0, 0.34);
  text-align: right;
}

.program-table-timeline-date {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.92rem;
  color: #999999;
  text-align: center;
  background: #fff;
  border-bottom: 1px solid @program-table-border-color;
  box-shadow: 0 7px 10px -5px rgba(0, 0, 0, 0.35);
}

.program-table-timeline-date-title {
  font-size: 2.5rem;
  color: #373737;
  margin-bottom: 2px;
}

.program-table-timeline-hour {
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  height: @program-table-hour-height;
}

.program-table-timeline-hour-title {
  position: absolute;
  right: 20px;
  top: -0.72rem;
  font-size: 1.42rem;
}

.program-table-timeline-hour-quarter {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  position: relative;
  bottom: -0.45rem;
  font-size: 0.9rem;
  height: @program-table-hour-height / 4;
  color: #999999;
}

.program-table-timeline-hour-large {
  height: @program-table-hour-height-large;

  .program-table-timeline-hour-quarter {
    height: @program-table-hour-height-large / 4;
  }
}

.program-table-heading {
  display: inline-flex;
  position: relative;
  z-index: 10;
  transition: box-shadow 200ms;
}

.program-table-heading-cell {
  flex: 0 0 @program-table-cell-width;
  background-color: #fff;
  border-top: 1px solid @program-table-border-color;
  border-right: 1px solid @program-table-border-color;
  border-bottom: 1px solid @program-table-border-color;
  padding: 15px;
}

.program-table-heading-cell-title {
  font-size: 1rem;
  font-weight: 500;
  color: #666666;
  text-align: center;
  margin-bottom: 3px;
}

.program-table-heading-cell-subtitle {
  color: #888888;
  font-size: 1rem;
  text-align: center;
}

.program-table-heading-cell-desc {
  text-align: center;
  font-size: 0.8rem;
  line-height: 1.1rem;
  font-style: italic;
  color: #888;
  margin-top: 7px;
}

.program-table-scroll {
  position: absolute;
  //left: 0;
  width: calc(~"100% - 95px");
  height: 40px;
  background-color: #F4F4F4;
  padding-left: 35px;
  padding-right: 35px;
  z-index: 10;
  border-bottom: 1px solid @program-table-border-color;

  &.with-shadow {
    box-shadow: 0 7px 10px -5px rgba(0, 0, 0, 0.35);
    transition: box-shadow 200ms;
  }
}

.program-table-scroll-track {
  position: relative;
  height: 100%;
}

.program-table-scroll-left,
.program-table-scroll-right {
  position: absolute;
  top: 5px;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;

  &:hover {
    background-color: rgba(99, 99, 99, 0.11);
    transition: background-color 200ms;
  }
}

.program-table-scroll-left {
  left: -30px;
  background-image: url('../images/icons/icon-program-table-scroll-left.svg');
}

.program-table-scroll-right {
  right: -30px;
  background-image: url('../images/icons/icon-program-table-scroll-right.svg');
}

.program-table-scrollbar {
  position: absolute;
  z-index: 10;
  top: 0;
  width: 30px;
  height: 40px;
  cursor: grab;
  transition: width 200ms;

  &::after {
    content: '';
    position: absolute;
    top: 15px;
    display: block;
    width: 100%;
    height: 10px;
    border-radius: 10px;
    background: #21B2E3;
    transition: background 200ms;
  }

  &:hover {
    &::after {
      background: darken(#21B2E3, 15%);
      transition: background 200ms;
    }
  }
}

.program-table-columns {
  display: flex;
  padding-top: 40px;
}

.program-table-column {
  flex: 0 0 @program-table-cell-width;
  border-right: 1px solid #E0E0E0;
  overflow: hidden;
}

.program-table-column-hour {
  border-bottom: 1px solid #E0E0E0;
  height: @program-table-hour-height;
}

.program-table-column-hour-large {
  height: @program-table-hour-height-large;

  .program-table-event-height-10 {
    min-height: (@program-table-hour-height-large/6)-1;
    max-height: (@program-table-hour-height-large/6)-1;
  }

  .program-table-event-height-15 {
    min-height: (@program-table-hour-height-large/4)-1;
    max-height: (@program-table-hour-height-large/4)-1;
  }

  .program-table-event-height-20 {
    min-height: ((@program-table-hour-height-large/6)*2)-1;
    max-height: ((@program-table-hour-height-large/6)*2)-1;
  }

  .program-table-event-height-30 {
    min-height: (@program-table-hour-height-large/2)-1;
    max-height: (@program-table-hour-height-large/2)-1;
  }

  .program-table-event-height-40 {
    min-height: ((@program-table-hour-height-large/6)*4)-1;
    max-height: ((@program-table-hour-height-large/6)*4)-1;
  }

  .program-table-event-height-45 {
    min-height: ((@program-table-hour-height-large/4)*3)-1;
    max-height: ((@program-table-hour-height-large/4)*3)-1;
  }

  .program-table-event-height-50 {
    min-height: ((@program-table-hour-height-large/6)*5)-1;
    max-height: ((@program-table-hour-height-large/6)*5)-1;
  }

  .program-table-event-height-60 {
    min-height: (@program-table-hour-height-large)-1;
    max-height: (@program-table-hour-height-large)-1;
  }

  .program-table-event-height-70 {
    min-height: ((@program-table-hour-height-large/6)*7)-1;
    max-height: ((@program-table-hour-height-large/6)*7)-1;
  }

  .program-table-event-height-75 {
    min-height: ((@program-table-hour-height-large/4)*5)-1;
    max-height: ((@program-table-hour-height-large/4)*5)-1;
  }

  .program-table-event-height-80 {
    min-height: ((@program-table-hour-height-large/6)*8)-1;
    max-height: ((@program-table-hour-height-large/6)*8)-1;
  }

  .program-table-event-height-90 {
    min-height: ((@program-table-hour-height-large/4)*9)-1;
    max-height: ((@program-table-hour-height-large/4)*9)-1;
  }

  .program-table-event-height-100 {
    min-height: ((@program-table-hour-height-large/6)*10)-1;
    max-height: ((@program-table-hour-height-large/6)*10)-1;
  }

  .program-table-event-height-105 {
    min-height: ((@program-table-hour-height-large/4)*7)-1;
    max-height: ((@program-table-hour-height-large/4)*7)-1;
  }

  .program-table-event-height-110 {
    min-height: ((@program-table-hour-height-large/6)*11)-1;
    max-height: ((@program-table-hour-height-large/6)*11)-1;
  }

  .program-table-event-height-120 {
    min-height: (@program-table-hour-height-large * 2)-1;
    max-height: (@program-table-hour-height-large * 2)-1;
  }

  .program-table-event-offset-10 {
    transform: translateY( (@program-table-hour-height-large/6)-1 );
  }

  .program-table-event-offset-15 {
    transform: translateY( (@program-table-hour-height-large/4)-1 );
  }

  .program-table-event-offset-20 {
    transform: translateY( ((@program-table-hour-height-large/6)*2)-1 );
  }

  .program-table-event-offset-30 {
    transform: translateY( (@program-table-hour-height-large/2)-1 );
  }

  .program-table-event-offset-40 {
    transform: translateY( ((@program-table-hour-height-large/6)*4)-1 );
  }

  .program-table-event-offset-45 {
    transform: translateY( ((@program-table-hour-height-large/4)*3)-1 );
  }

  .program-table-event-offset-50 {
    transform: translateY( ((@program-table-hour-height-large/6)*5)-1 );
  }
}

.program-table-event {
  display: block;
  position: relative;
  .ff-roboto-cond;
  background-color: #fff;
  padding: 8px;
  color: #666666;
  font-size: 0.85rem;
  margin-bottom: 1px;
  box-shadow: 0 0 0 1px @program-table-border-color;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
  outline: none;
  transition: background-color 200ms;

  &::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 15px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.01), #fff);
    transition: all 200ms;
  }

  &:hover,
  &:focus {
    color: #666666;
    z-index: 5;
    max-height: none;
    //background: #fbfbfb;
    transition: background-color 200ms;
    box-shadow: 0 0 0 1px @program-table-border-color, 0 0 25px -5px rgba(0, 0, 0, 0.35);

    &::after {
      opacity: 0;
      /*bottom: 1px;
      left: 1px;
      width: calc(~"100% - 2px");*/
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0.01), #fbfbfb);
      transition: all 200ms;
    }

    .program-table-event-meta-fav {
      opacity: 1;
      transition: opacity 200ms;
    }
  }

  p {
    margin: 0.7em 0;
  }
}

.program-table-event-meta {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  margin-bottom: 3px;
}

.program-table-event-meta-icon {
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: @c-blue;
  margin-right: 4px;
  border-radius: 10px;
  vertical-align: baseline;
}

.program-table-event-meta-date {
  color: #888;
}

.program-table-event-meta-fav {
  cursor: pointer;
  opacity: 0;
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: bottom;
  transition: opacity 200ms;

  &.active {
    opacity: 1;

    svg {
      * {
        fill: @c-blue;
      }
    }
  }
}

.program-table-event-title {
  color: @c-main;
  font-size: 1.2rem;
  margin-bottom: 7px;
}

.program-table-event-subtitle {
  color: @c-main;
  font-size: 1.05rem;
  margin-bottom: 3px;
}

.program-table-event-speakers {
  margin-top: 10px;
  font-size: 0.85rem;
  color: #858585;

  b {
    color: @c-main;
    font-weight: normal;
  }
}

.program-table-event-speakers-icon {
  background: url("../images/icons/icon-program-speakers.svg") no-repeat left top;
  padding-left: 20px;
}

.program-table-event-global {
  position: absolute;
  width: 100%;
}

.program-table-event-width-2 {
  position: absolute;
  width: @program-table-cell-width*2;
}

.program-table-event-width-3 {
  position: absolute;
  width: @program-table-cell-width*3;
}

.program-table-event-width-4 {
  position: absolute;
  width: @program-table-cell-width*4;
}

.program-table-event-width-5 {
  position: absolute;
  width: @program-table-cell-width*5;
}

.program-table-event-width-6 {
  position: absolute;
  width: @program-table-cell-width*5;
}

.program-table-event-height-10 {
  min-height: (@program-table-hour-height/6)-1;
  max-height: (@program-table-hour-height/6)-1;
}

.program-table-event-height-15 {
  min-height: (@program-table-hour-height/4)-1;
  max-height: (@program-table-hour-height/4)-1;
}

.program-table-event-height-20 {
  min-height: ((@program-table-hour-height/6)*2)-1;
  max-height: ((@program-table-hour-height/6)*2)-1;
}

.program-table-event-height-30 {
  min-height: (@program-table-hour-height/2)-1;
  max-height: (@program-table-hour-height/2)-1;
}

.program-table-event-height-40 {
  min-height: ((@program-table-hour-height/6)*4)-1;
  max-height: ((@program-table-hour-height/6)*4)-1;
}

.program-table-event-height-45 {
  min-height: ((@program-table-hour-height/4)*3)-1;
  max-height: ((@program-table-hour-height/4)*3)-1;
}

.program-table-event-height-50 {
  min-height: ((@program-table-hour-height/6)*5)-1;
  max-height: ((@program-table-hour-height/6)*5)-1;
}

.program-table-event-height-60 {
  min-height: (@program-table-hour-height)-1;
  max-height: (@program-table-hour-height)-1;
}

.program-table-event-height-70 {
  min-height: ((@program-table-hour-height/6)*7)-1;
  max-height: ((@program-table-hour-height/6)*7)-1;
}

.program-table-event-height-75 {
  min-height: ((@program-table-hour-height/4)*5)-1;
  max-height: ((@program-table-hour-height/4)*5)-1;
}

.program-table-event-height-80 {
  min-height: ((@program-table-hour-height/6)*8)-1;
  max-height: ((@program-table-hour-height/6)*8)-1;
}

.program-table-event-height-90 {
  min-height: ((@program-table-hour-height/4)*6)-1;
  max-height: ((@program-table-hour-height/4)*6)-1;
}

.program-table-event-height-100 {
  min-height: ((@program-table-hour-height/6)*10)-1;
  max-height: ((@program-table-hour-height/6)*10)-1;
}

.program-table-event-height-105 {
  min-height: ((@program-table-hour-height/4)*7)-1;
  max-height: ((@program-table-hour-height/4)*7)-1;
}

.program-table-event-height-110 {
  min-height: ((@program-table-hour-height/6)*11)-1;
  max-height: ((@program-table-hour-height/6)*11)-1;
}

.program-table-event-height-120 {
  min-height: (@program-table-hour-height * 2)-1;
  max-height: (@program-table-hour-height * 2)-1;
}

.program-table-event-offset-10 {
  transform: translateY( (@program-table-hour-height/6)-1 );
}

.program-table-event-offset-15 {
  transform: translateY( (@program-table-hour-height/4)-1 );
}

.program-table-event-offset-20 {
  transform: translateY( (@program-table-hour-height/3)-1 );
}

.program-table-event-offset-30 {
  transform: translateY( (@program-table-hour-height/2)-1 );
}

.program-table-event-offset-40 {
  transform: translateY( ((@program-table-hour-height/6)*4)-1 );
}

.program-table-event-offset-45 {
  transform: translateY( ((@program-table-hour-height/4)*3)-1 );
}

.program-table-event-offset-50 {
  transform: translateY( ((@program-table-hour-height/6)*5)-1 );
}

.program-table-mobile {
  display: none;
  background: #F7F7F7;

  @media (max-width: @breakpoint-s) {
    display: block;
  }
}

.program-table-mobile-date {
  text-align: center;
  color: #222;
  font-size: 1.05rem;
  text-transform: uppercase;
  line-height: 1.57rem;
  font-weight: 500;
  padding: 16px;
}

.program-table-mobile-event {
  display: flex;
  background: #fff;
  padding: 15px;
  margin-bottom: 2px;
}

.program-table-mobile-event-content {
  color: @c-main;
  text-decoration: none;
}

.program-table-mobile-event-fav {
  padding-left: 10px;
}

.program-table-mobile-event-name {
  margin-bottom: 7px;
  font-size: 1.05rem;
  line-height: 1.3rem;
}

.program-table-mobile-event-meta {
  color: #8E8E93;
  font-size: 0.85rem;
}

.program-table-mobile-event-date,
.program-table-mobile-event-location {
  display: inline-flex;
  align-items: center;

  svg {
    width: 16px;
    height: 16px;
    margin-right: 5px;

    * {
      fill: #8E8E93;
    }
  }
}

.program-table-mobile-event-date {
  margin-right: 15px;
}

.program-table-mobile-event-location {

}